body{
    background-color: darkblue;
}
#id1{
    background-color: aliceblue;
    height: 450px;
    width: 750px;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 350px;
    padding-top: 40px;
}
#id2{
    height: 25%;
    width: 90%;
    background-image: url("Screenshot 2024-10-05 113132.png");
    background-size: cover;
    margin-left: 5%;
    margin-bottom:30px ;
}
#id3{
    display: inline-block;
    margin-left: 100px;
    color: blue;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#id4{
    display: inline-block;
    color: blue;
    margin-left: 170px;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin-left: 460px;
    margin-top: 50px;
    height: 25px;
    width: 235px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
}
input:hover{
        border-color: skyblue;
}
button{
    transform: translate(460px,30px);
    font-weight: bold;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(0, 132, 255);
    color: white;
    height: 30px;
    width: 248px;
    border-radius: 5px;
}
#id6{
    display: inline-block;
    transform: translate(500px,40px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(0, 132, 255);  
    font-weight: bold;
    
}
#id7{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(0, 132, 255);  
    font-weight: bold;
    transform: translate(525px,60px);  
}
footer{
    padding-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    
    color: white;
    margin-top: 100px;
    text-align: center;
    background-color: rgb(255, 204, 0);
}
